*{
    font-family: "Nunito" , san-serif;
}
    
body{
    background-color: aliceblue;
    height: 100vh;
}
header {
    position: fixed;
    top: 0;
    width: 100%;
}.top {
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 120px;
}
/* Navbar Styling Start Here */
.Wrapper {
display: flex;
justify-content: space-between;
gap: 1.5rem;
height: 50px;
margin-bottom: 200px;
align-items: center;
padding-left: 50px;
padding-right: 50px;
background-color: white;
box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
padding-bottom: 20px;
}
.navlinks {
justify-content: space-around;
display: flex;
gap: 5rem;
}
.navlinks a {
    text-decoration: none;
    color: black;
    gap: 1.5rem;
    align-items: center;
}
.navbutton a {
    background-color: teal;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-top: 10px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
}
.icon img{
    width: 15rem;
}
.first {
    display: flex;
    border-radius: 10px;
    overflow: hidden;
}
.text {
    padding: 40px;
    
}
.text h1 {
   width: 35rem;
   font-size: family;
   
}
.text .edition {
    font-size: 20px;
    color: black;
}
.text p {
    width: 30rem;
}
 .button {
    margin-top: 20px
}
.button a {
    text-decoration: none;
    background-color: 
    teal; color: white;
    display: inline-block;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: 20px;
}
.grid {
    max-width: 50%;
}
.grid img {
    width: 30rem;
    height: 80%;
    border-radius: 10px;
    margin-right: 10rem;
}
.second {
background-color: aqua;
}
/* second styling start here */
.second {
    background-color:teal;
    border-radius: 10px;
    width: 100%;
    margin-top: 10rem;
    margin-bottom: 3rem;
    margin-left: 3rem;
    margin-right: 5rem;
}
.second h2 {
    padding-left: 20rem;
    padding-top: 50px;
    color: white;
}
.second .bara {
    display: flex;
    gap: 8rem;
    padding-left: 8rem;
    padding-right: 8rem;
    padding-bottom: 5rem;
    text-align: center;
}
.one {
    color: white;
}
.two {
    color: white;
}
.three {
    color: white;
}
.four {
    color: white;
}
/* third styling starts here */
.third p {
    width: 50rem;
}
.third {
    padding-left: 50px;
}
.third h2 {
    padding-top: 60px;
}
.third .hub {
    color: teal;
}
/* fourth styling start here */
.fourth {
    padding-top: 30px;
}
.meta {
    display: flex;
    gap: 4rem;
    padding-bottom: 40px;
}
.beta {
    display: flex;
    gap: 4rem;
}
/* fifth styling start here */
.fifth {
    margin-left: 20rem;
    margin-top: 7rem;
}
.fifth .meta a {
    text-decoration: none;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: teal;
    color: white;
    border-radius: 0.5rem;
    margin-left: 12rem;
    font-weight: bolder;
    margin-top: 5rem;
}
/* footer styling start here */
.down {
    background-color: white;
}
.last {
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 50px;
}
.last ul {
    list-style: none;
    text-align: left;
    padding-left: 3px;
}
.dummy {
    line-height: 2rem;
}
.dummy a {
    text-decoration: none;
    color: black;
}




